<!-- /views/elephant.erb -->

<!DOCTYPE html>
<html>

<head>
  <title>Dice Roll</title>
  <h1>Dice Roll</h1>
</head>

<body>
  <div>
    <div><a href="/">Home</a></div>
    <div><a href="/dice/2/6">Roll two 6-sided dice</a></div>
    <div><a href="/dice/2/10">Roll two 10-sided dice</a></div>
  </div>

</body>
</html>
