<!-- /views/wrapper.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>

  <style>
    .navbar {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>
  

  <div class="navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/dice/2/6">Roll two 6-sided dice</a></div>
    <div><a href="/dice/2/10">Roll two 10-sided dice</a></div>
  </div>

  <!--Customize part-->

  <%= yield %>

</body>
</html>
